@font-face {
  font-family: north;
  src: url(assets/northstar3d.otf);
}
@font-face {
  font-family: a Asian Ninja;
  src: url(assets/asianninja.otf);
}
body {
  background: white;
  max-height: 1080px;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 17px;
  font-family: north;
  padding-bottom: 1em;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}
li a:hover {
  color: white;
  background-color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.hideout {
  height: auto;
  width: 250px;
  float: right;
}
.container {
  text-align: right;
}
.newb-text {
  /* With floats, we have the problem of placing things in between */
  padding: 0.5em;
  color: black;
}
.rev1 {
  border-radius: 50%;
  background-color: grey;
  padding: 0.7em;
  /* This rotation code is okay. The main issue would lie in changing the center of rotation */
  transform: rotate(0deg) translateX(150px);
  /* Positioning can be fixed later */
  position: absolute;
  animation: orbit2 8s linear infinite;
  animation-delay: calc(var(--order) * 0.5s);
  /*timing can be adjusted so that it is well-spaced. But I feel like rotation and spacing should be different*/
  /* I.e each should have its own */
  /* First, remove all these vendor prefixes */
}
/* The animation itself is okay, the problem here is that spacing is determined by the transform */
/* Decoupling those two would bring out the power of the transform */
/* If it's out of worry for translateX, we can update that on resize (not so often) */
/* The translate is also crucial in defining a new center of rotation, wb transform-origin?? */
@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateX(150px);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg); /*The minus 360 helps avoid the images flipping head over heels*/
  }
}
